<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>This is my Resume</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <div class="row">
  	<div class="col-md-3 sidebar">
  		<div class="row">
  			<div class="col-md-12">
  				<img src="https://media.licdn.com/dms/image/C5603AQHPxDuhBA3OjQ/profile-displayphoto-shrink_200_200/0?e=1553731200&v=beta&t=G1F2O2AQXhFd-CoGuqoCtedGVNMeXSRz2HyG8qtmFXU">
  				</img>
  			</div>
  		</div>
  			<div class="row">
  				<div class="col-md-12 janson">
  					<h1>Janson Lin</h1>
  				</div>
  			</div>
  			<div class="row">
  				<div class= "col-md-12">	
  					<h3 class="contact"> CONTACT </h3>
  						<p> (778)-991-9066 | Jansonl@sfu.ca | Vancouver, BC </p>
  				</div>
  			</div>	
  	</div>
  	<div class="col-md-9 main">
  		<div class="row">
  			<div class="col-md-12 profile"> 
  				<h3 class="title"> PROFILE </h3>
  				<p> I'm currently a third year university student at Simon Fraser University. </p>
  			</div>
  		</div>
  		<div class="row"> 
  			<div class="col-md-12 experience">
  				<h3 class= "title"> EXPERIENCE </h3>
  				<p> Mercedes-Benz Richmond | 2018-2019 <br> Sharkclub Richmond | 2018-Present </p>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-12 education">
  				<h3 class= "title">EDUCATION</h3>
  				<p> Beedie School of Business | Attending</p>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-12 skills">
  				<h3 class = "title"> SKILLS </h3>
  				<p> Microsoft | Word, Excel, PowerPoint, OneNote, Outlook <br>
  					Coding | Python, HTML, CSS </p>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-12 awards">
  				  <h3 class="title"> AWARDS & HOBBIES</h3>
  				<p> Huayu Enrichment Scholarship | 2018 </p>
  			</div>
  		</div>
  	</div>
  </div>
</body>
</html>